/*
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

*/
$theme-colors: (
  "primary":    #0d6efd,
  "secondary":  #6c757d,
  "success":    #198754,
  "info":       #0dcaf0,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "light":      #877a50,
  "dark":       #212529
);

@import 'node_modules/bootstrap/scss/bootstrap';

body {

    h1 {
        color: $black;
        margin: 0 auto 1rem;
        padding: 0.75rem;
        backdrop-filter: blur(10px);
        border: 1px solid #ffffff50;
        text-shadow: 1px 1px $black;
        display: inline-block;
  
    }
}
.navbar-brand {
  font-variant: small-caps;
  color: rgba(0,0,0,.9) !important;
  font-weight: 800;
}
.navbar-nav {
  .nav-item {
    padding: 0.3rem 0.75rem;
    .nav-link {
      padding: 0 !important;
      color: $primary;
    
      &.router-link-active {
        color: $secondary;
        border-bottom: 2px solid #fff;
      }
    
    }  
  }

}

p.note-alt {
  background: #809199;
  color: #fff;
  padding: 1rem;
  a:link, a:visited {
    color: #000;
  }
  a:hover, a:active {
    color: #333;
  }
}
p.note {
  background: #eaf3f8;
  color: #2980b9;
  font-style: italic;
  padding: 12px 20px;
}

/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
  clear: initial;
  float: left;
  margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
  clear: initial;
  float: right;
  margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
  text-align: center;
}

[data-editable] .text-left {
  text-align: left;
}

[data-editable] .text-right {
  text-align: right;
}

/* Let's highlight canvas boundaries */
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}