@{
    ViewData["Title"] = "Csv";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <a asp-action="DownloadCsv" class="btn btn-primary">CSV Download</a>
    <a asp-action="DownloadXlsx" class="btn btn-primary">Excel Download</a>
</div>