@{
    ViewData["Title"] = "Simple Router";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <section id="r_SimpleRouter" data-route-start="/home/router" class="__vue-root"></section>
    
</div>